// Typography
$font-primary: "Raleway", sans-serif;
$font-secondary: "Playfair Display", sans-serif;;

// Colors
$color-primary: #041833;
$color-secondary: #1875E8;
$color-font-primary: #041833;
$color-font-secondary: #444;
$white: #FFF;