@import "styles/vars";

.container {
  position: relative;
  text-align: center;
  background-color: $color-primary;
  color: $white;
  padding: 0 1.5rem 6.5rem;
}

.text404 {
  display: block;
  color: $color-secondary;
  font-family: $font-secondary;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.title {
  margin-top: 4rem;
  font-family: $font-secondary;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.buttoncontainer {
  text-align: start;
  margin-top: 3.5rem;
  margin-left: 30vw;
}

.image404 {
  position: absolute;
  height: 20vw;
  bottom: calc(-20vw * 0.5);
  border: 5px solid $white;
  border-radius: 100%;
}

.space {
  height: 25vh;
}

@media (width <= 1100px) {
  .text404 {
      margin-bottom: 2.25rem;
  }

  .buttoncontainer {
      margin-top: 2.75rem;
      margin-left: 15vw;
  }

  .image404 {
      height: 30vw;
      bottom: calc(-30vw * 0.5);
      left: 50vw;
  }

  .space {
      height: 20vw;
  }
}

@media (width <= 744px) {
  .container {
      padding: 3rem 1rem 10rem;
  }

  .text404 {
      font-size: 4rem;
  }

  .title {
      margin-top: 0;
      font-size: 2.25rem;
      line-height: 3rem;
  }

  .paragraph {
      font-size: 1.125rem;
      line-height: 1.3125rem;
  }

  .buttoncontainer {
      margin: 2.5rem 0 0;
      text-align: center;
  }

  .image404 {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      height: 50vw;
      bottom: calc(-50vw * 0.6);
      max-height: 375px;
  }

  .space {
      height: calc(80vw * 0.45);
  }
}